<!DOCTYPE html>
<html ng-app="PWAColeta">
    <head>
        <meta charset="UTF-8">
        <title>NAC - Ferramenta de Coleta de Tempos</title>
        <link rel="shortcut icon" type="image/png" href="images/everis_favico.png"/>
        <link rel="stylesheet" href="styles/normalize.min.css">
        <link rel="stylesheet" href="styles/style.css">
        <script src="plugins/jquery-3.1.1.min.js" ></script>
        <script src="plugins/angular/angular.js" ></script>
        <script src="plugins/angular-timer.min.js" ></script>
        <script src="script/pwaColeta.js" ></script>
        <script src="script/respond.js"></script>
        <script src="script/app.js"></script>
        <script src="script/controller/pwaColetaCtrl.js"></script>
    </head>

    <body ng-controller="pwaColetaCtrl">
        <div class="responstable">
            <h1>NAC - Ferramenta de Coleta de Tempos</h1>
            <form>
                <table class="responstable">
                    <tr>
                        <td>
                            <label for="select_amostrador">Amostrador</label>
                            <select id="select_amostrador"ng-model="amostrador" ng-options="amostrador.amostrador_desc for amostrador in lstAmostradores" ng-change="buscarLojas(amostrador)">
                                <option value="">Selecione</option> 
                            </select>
                        </td>
                        <td>
                            <label for="select_loja">Loja</label>
                            <select id="select_loja" ng-model="loja" ng-options="loja.loja_desc for loja in lstLojas" ng-disabled="!amostrador || amostrador.length === 0" ng-change="buscarUnidades(loja)">
                                <option value="">Selecione</option> 
                            </select>
                        </td>
                        <td>
                            <label for="select_unidade">Unidade</label>
                            <select id="select_unidade" ng-model="unidade" ng-options="unidade.unidade_desc for unidade in lstUnidades" ng-disabled="!loja || loja.length === 0">
                                <option value="">Selecione</option> 
                            </select> 
                        </td>
                        <td style="width: 15%">
                            <input id="btnIniciar" type="button" value="INICIAR" disabled ng-click="iniciarColeta()"/>
                            <input id="btnParar" type="button" value="PARAR" disabled/>
                        </td>
                        <td>
                            <span id="txtHoraAtual" style="font-weight: bold"></span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <button id="btnNovaLinha" ng-disabled="(!amostrador || !loja || !unidade)" ng-click="adcLinha()">Nova linha</button>
        <table class="responstable" id="tblColeta">
            <tr>
                <th>Funcionário</th>
                <th>Produto</th>
                <th>Atividade</th>
                <th style="width: 10%">&nbsp</th>
                <th style="width: 5%">Tempo</th>
                <th style="width: 10%">Ação</th>
            </tr>
        </table>
    </body>
</html>