/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 24, 2017, 4:22:47 PM
    Author     : reliossi
*/

body, ul, h1, img {
    margin: 0;
    padding: 0px;
}

#content {
    margin: 20px auto 0 auto;
    width: 700px;
}
#header_info {
    padding: 20px 20px 20px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-color: #cccccc;
    border-width: 1px;
    border-style: solid;
}
#header_info h1 {
    margin-bottom: 10px;
}

#header_info label {
    padding: 0 4px 0 0px;
}
#header_info select {
    margin-right: 20px;
    width: 100px;
}
#header_func {
    clear: left;
    padding-bottom:30px;
}
#header_func ul {
    list-style-type: none;
}

#header_func ul li {
    display: block;
    float: left;
    margin-right: 50px;
}
#func_info {
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    border-color: #cccccc;
    border-width: 1px;
    border-style: solid;
}

.func {
    clear: left;
    margin-bottom: 10px;
}

.func .func_nome {
    width: 77px;
    margin-right: 47px;
}
.func .func_produto {
    width: 52px;
    margin-right: 44px;
}
.func .func_atividade {
    width: 64px;   
    margin-right: 20px;
}
.func img {
   margin-bottom: -5px;
}

